description "{{ app_deploy_name }} Application"
author "nobody"

start on (local-filesystems and net-device-up)
stop on runlevel [06]

setuid {{ app_deploy_user_name }}

respawn
script
    cd {{ app_deploy_location }}
    bundle exec ruby web.rb -p 8080
end script

